body{
    background-color: #333;
}
* {
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mySwiper{
    height: 300px;
    width: 1000px;
}
.mySwiper img{
    height: 300px;
    width: 333px;
}
.largeContainer,
.midContainer,
.smallContainer{
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.largeContainer{
    max-width: 1240px;
}
.midContainer{
    max-width: 1044px;
}
.smallContainer{
    max-width: 926px;
}
.primaryButton,
.outlineButton,
.deleteButton{
    overflow: hidden;
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 160%;
    border: 2px solid blue;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: .2s ease;
}
.primaryButton,
.outlineButton,
.deleteButton:focus{
    opacity: .9;
}
.primaryButton{
    color: #fff;
    background-color: blue;
}
.primaryButton:hover{
    background-color: blue;
}
.outlineButton{
    color: #000;
    background-color: #fff;
    .disabled:hover,
    .disabled:focus {
        color: grey;
        background-color: #fff;
        border: 2px solid grey;
    }
}
.outlineButton:hover{
    color: #fff;
    background-color: blue;
}
.deleteButton{
    background-color: #ffe8e8;
    border: 1px solid #f41414;
    color: #f41414;
}
.deleteButton:hover {
    background-color: #f41414;
    color: #fff;
}
.disabled{
    opacity: .7!important;
    color: grey;
}