h1{
    color: #fff;
    font-size: 72px;
    margin: 250px 0 80px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
}
button{
    width: 80px;
    height: 40px;
    font-size: 18px;
}